body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth; }

/* Header Styling */
.navbar {
  position: relative;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 8vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: #17252a;
  color: white; }
  .navbar .logo:hover {
    cursor: pointer; }
  .navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .navbar li {
    display: list-item;
    text-decoration: none; }
    .navbar li:hover {
      cursor: pointer;
      text-decoration: none;
      color: #3aafa9; }

.logo {
  justify-self: flex-start;
  height: 30px;
  width: 30px; }
  .logo img {
    max-width: 100%;
    max-height: 100%; }

/* Styling for Smaller Screens */
@media screen and (max-width: 480px) {
  .navbar {
    justify-content: center; }
  .logo {
    display: none; }
  ul {
    margin: 0;
    padding: 0;
    justify-content: center; } }

/* Text Colors */
p {
  color: #17252a; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #17252a; }

.avatar-img {
  border-radius: 50%;
  border: 2px solid white;
  height: 300px;
  display: block; }

.page {
  min-height: 100vh;
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  padding-right: 10vw;
  padding-left: 10vw;
  overflow: hidden; }
  .page .arrow {
    align-self: center;
    transition: all 0.2s ease-in-out;
    height: 20px;
    width: 20px;
    margin-bottom: 45px; }
    .page .arrow:hover {
      cursor: pointer;
      transform: scale(1.2); }
    .page .arrow i {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px; }
      .page .arrow i.down {
        -webkit-transform: rotate(45deg); }
    @media screen and (max-width: 850px) {
      .page .arrow {
        display: none; } }

/* Jumbotron Styling */
.page.hero {
  background-color: #3aafa9;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 100px; }
  .page.hero .arrow {
    margin-bottom: 20px; }
  .page.hero .jumbotron-content {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
    /* Styling for Smaller Screens */ }
    .page.hero .jumbotron-content h1 {
      margin-top: 50px; }
      .page.hero .jumbotron-content h1 span {
        font-weight: 1000; }
    .page.hero .jumbotron-content .jumbotron-text .hero-links {
      padding: 0;
      font-size: 2em; }
      .page.hero .jumbotron-content .jumbotron-text .hero-links a {
        display: inline-block;
        width: 2em;
        color: #17252a;
        text-decoration: none; }
        .page.hero .jumbotron-content .jumbotron-text .hero-links a.grow {
          transition: all 0.2s ease-in-out; }
          .page.hero .jumbotron-content .jumbotron-text .hero-links a.grow:hover {
            transform: scale(1.5); }
    @media screen and (max-width: 850px) {
      .page.hero .jumbotron-content {
        display: flex;
        flex-flow: column-reverse wrap;
        align-items: center;
        justify-content: center;
        margin: 0; }
        .page.hero .jumbotron-content .avatar-img {
          max-width: 50vw;
          max-height: 50vw; }
        .page.hero .jumbotron-content .jumbotron-text {
          text-align: center;
          width: 100%; } }

.page.project {
  align-items: center;
  height: auto;
  margin-top: auto;
  margin-bottom: auto; }
  .page.project .project-content {
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    /* Card Styling */ }
    .page.project .project-content h1 {
      font-weight: bold;
      justify-self: flex-start;
      text-align: center;
      margin-bottom: 5vh; }
    .page.project .project-content .card-container {
      position: relative;
      width: 1000px;
      display: flex;
      min-height: 0px; }
      @media screen and (max-width: 850px) {
        .page.project .project-content .card-container {
          width: 680px; } }
      @media screen and (max-width: 480px) {
        .page.project .project-content .card-container {
          width: 340px; } }
    .page.project .project-content .card {
      width: 300px;
      flex: 0 0 300px;
      margin: 20px;
      border: black 2px;
      background-color: #eee;
      /* Tag Styling */ }
      .page.project .project-content .card p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 14px;
        padding: 0px 25px 0px 25px;
        text-align: left;
        line-height: 24px;
        color: black; }
      .page.project .project-content .card .image img {
        width: 100%; }
      .page.project .project-content .card .card-tags {
        text-align: center;
        margin-bottom: 15px; }
      .page.project .project-content .card .card-attribution {
        font-size: 10px;
        font-weight: 500;
        text-decoration: none;
        color: #b0b8bc;
        text-align: center; }
      .page.project .project-content .card .Freepik:hover {
        text-decoration: none; }
      .page.project .project-content .card .tag {
        display: inline-block;
        background-color: #17252a;
        color: white;
        margin: 1vh;
        padding: 5px 10px 5px 10px;
        border-radius: 25px;
        font-size: 12px;
        font-weight: 500; }

.page.contact {
  padding-bottom: 0;
  /* Social Media Icons */ }
  .page.contact .content {
    margin-top: auto;
    width: 100%; }
  .page.contact h1 {
    text-align: center;
    font-weight: bold; }
  .page.contact .btn {
    color: white; }
  .page.contact .error-msg {
    margin-left: 10px; }
  .page.contact .success-msg {
    color: green;
    margin-left: 10px; }

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

/* About Page */
.page.about {
  background-color: #17252a; }
  .page.about .content {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .page.about .content h1 {
      color: white;
      font-weight: bold;
      justify-self: flex-start;
      text-align: center;
      margin-bottom: 5vh; }
    .page.about .content p {
      font-size: 20px;
      color: white;
      margin: 20px; }
    @media screen and (max-width: 480px) {
      .page.about .content h1 {
        margin-bottom: 2vh; }
      .page.about .content p {
        font-size: 15px;
        margin: 10px; } }
  .page.about footer {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 20px 20px 5px 20px;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%); }
    .page.about footer p {
      font-size: 12px;
      color: white; }
    .page.about footer .footer-icons {
      margin-left: auto;
      margin-right: 0;
      flex: 0 0 50%;
      display: flex;
      justify-content: flex-end; }
    .page.about footer .fa {
      padding: 5px;
      text-align: center;
      text-decoration: none;
      color: white; }
    .page.about footer .fa:hover {
      text-decoration: none;
      opacity: 0.7; }
