body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth; }

/* Header Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 8vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: #f65058ff;
  color: white; }
  .navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .navbar li {
    display: list-item;
    text-decoration: none; }
    .navbar li:hover {
      cursor: pointer;
      color: #fbdb6b; }

.logo {
  justify-self: flex-start;
  height: 30px;
  width: 30px; }
  .logo img {
    max-width: 100%;
    max-height: 100%; }

/* Styling for Smaller Screens */
@media screen and (max-width: 450px) {
  .logo {
    display: none; }
  ul {
    margin: 0;
    padding: 0;
    justify-content: center; } }

/* Text Colors */
p {
  color: #f65058ff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f65058ff; }

.avatar-img {
  border-radius: 50%;
  border: 2px solid white;
  height: 300px;
  display: block; }

.page {
  min-height: 100vh;
  display: flex;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-right: 10vw;
  padding-left: 10vw; }
  .page .arrow {
    align-self: center;
    transition: all 0.2s ease-in-out;
    height: 20px;
    width: 20px;
    margin-bottom: 20px; }
    .page .arrow:hover {
      cursor: pointer;
      transform: scale(1.5); }
    .page .arrow i {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px; }
      .page .arrow i.down {
        -webkit-transform: rotate(45deg); }

/* Jumbotron Styling */
.page.hero {
  background-color: #fbdb6b;
  padding-right: 0;
  padding-left: 0; }
  .page.hero .jumbotron-content {
    margin-top: 20vh;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    /* Styling for Smaller Screens */ }
    .page.hero .jumbotron-content h1 span {
      font-weight: 1000; }
    .page.hero .jumbotron-content .jumbotron-text .hero-links {
      padding: 0;
      font-size: 2em; }
      .page.hero .jumbotron-content .jumbotron-text .hero-links a {
        display: inline-block;
        width: 2em;
        color: #f65058ff; }
        .page.hero .jumbotron-content .jumbotron-text .hero-links a.grow {
          transition: all 0.2s ease-in-out; }
          .page.hero .jumbotron-content .jumbotron-text .hero-links a.grow:hover {
            transform: scale(1.5); }
    @media screen and (max-width: 950px) {
      .page.hero .jumbotron-content {
        display: flex;
        flex-flow: column-reverse wrap;
        align-items: center;
        justify-content: center; }
        .page.hero .jumbotron-content .avatar-img {
          max-width: 50vw;
          max-height: 50vw; }
        .page.hero .jumbotron-content .jumbotron-text {
          text-align: center;
          width: 100%; } }

.page.project {
  align-items: center;
  height: auto;
  /* Card Styling */ }
  .page.project .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .page.project .card {
    width: 300px;
    margin: 20px;
    border: black 2px;
    background-color: #eee;
    /* Tag Styling */ }
    .page.project .card p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-size: 14px;
      padding: 25px;
      padding-top: 0px;
      text-align: left;
      line-height: 24px;
      color: black; }
    .page.project .card .image img {
      width: 100%; }
    @media screen and (max-width: 860px) {
      .page.project .card {
        width: 90%; } }
    .page.project .card .card-tags {
      text-align: center; }
    .page.project .card .card-attribution {
      font-size: 10px;
      font-weight: 500;
      text-decoration: none;
      color: #b0b8bc;
      text-align: center; }
    .page.project .card .Freepik:hover {
      text-decoration: none; }
    .page.project .card .tag {
      display: inline-block;
      background-color: #111b47;
      color: white;
      margin: 1vh;
      padding: 5px 10px 5px 10px;
      border-radius: 25px;
      font-size: 12px;
      font-weight: 500; }

.footer {
  background-color: #fbdb6b; }

/* Footer Styling */
.footer-text {
  display: flex;
  justify-content: center;
  padding-top: 5vh; }

.footer-lower {
  display: flex;
  align-items: center;
  padding-bottom: 2vh; }

/* Links in Footer */
.ftr-link {
  color: #f65058ff !important;
  padding-left: 1vw;
  padding-right: 1vw; }

.ftr-link:hover {
  text-decoration: none;
  opacity: 0.7;
  cursor: pointer; }

.footer-links {
  display: flex;
  flex-direction: row; }

.footer-icons {
  margin-left: auto;
  margin-right: 0;
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-end; }

/* Social Media Icons */
.fa {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: #f65058ff; }

.fa:hover {
  text-decoration: none;
  opacity: 0.7; }

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

/* About Page */
.page.about {
  background-color: #f65058ff; }
  .page.about .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .page.about .content h1 {
      justify-self: flex-start;
      text-align: center;
      margin-top: 50px; }
    .page.about .content p {
      color: white; }
